.scatterplot-container {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

.scatterplot-point {
  cursor: pointer;

}
.scatterplot-point-selected{
  stroke-width: 4px;
  stroke: yellow;
}

.scatterplot-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  text-align: center;
  margin: auto;
}
.scatterplot-toolbar > * {
  margin-right: 20px;
}

.scatterplot-nodata {
  position: relative;
  font-style: italic;
  color: silver;
  margin-top: -10px;
}
