.scatterplot-container {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

.scatterplot-yaxis {

}
.scatterplot-surface {
  background: gray;

}

.scatterplot-xaxis {
  background: purple;
  text-align: left;

}
.scatterplot-x-label {
  position: relative;
}

.scatterplot-point {
  cursor: pointer;

}
.scatterplot-point-selected{
  stroke-width: 4px;
  stroke: cyan;
}

.scatterplot-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: whitesmoke;
  text-align: center;
  margin: auto;
}
.scatterplot-toolbar > input,button,label {
  margin-right: 20px;
}
